VITE_SURVEY_GAS_URL=https://script.google.com/macros/s/AKfycbxP1bce1QHtvqwoWhyRMC5K8-KfcF5DoKKNInJ0aBXYAGQ_35UsmMtugQCzd6oJ-mLw/exec
VITE_STALLS_GAS_URL=https://script.google.com/macros/s/AKfycbworbQXLn3SGPoFCEBqpNNMeaaFCafGV279td737O9Pdw5u9YcP8IxNVGJgIxKqTLUoiQ/exec
VITE_STALLS_WRITE_TOKEN=Tsuruto2026_MapAdmin_8xQ4-nP7_Km92Vz5
